// ========================================================================
// ITCSS - settings
// ========================================================================
/*
  Global variables, site-wide settings, config switches, etc.
  https://github.com/inuitcss/inuitcss
  *** combined for easier presentation ***
*/

// global configs
$inuit-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// Standardise some UI treatments / global UI
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// base font, spacing, etc
$inuit-global-font-size:    16px !default;
$inuit-global-line-height:  24px !default;

$inuit-global-spacing-unit-factor-tiny:   0.25 !default;
$inuit-global-spacing-unit-factor-small:  0.5  !default;
$inuit-global-spacing-unit-factor-large:  2    !default;
$inuit-global-spacing-unit-factor-huge:   4    !default;

// site colours
$primary-color: #00babe;
$primary-light: rgba(0, 186, 191, 0.7);
$primary-lighter: rgba(0, 186, 191, 0.4);
$primary-lightest: rgba(0, 186, 191, 0.1);
$primary-dark: #00a2a2;

$secondary-color: #ff749c;
$secondary-lightest: rgba(255, 116, 156, 0.06);
$black-color: #000;
$dark-gray-color: #333;
$gray-color: #666;
$light-gray-color: #999;

// global breakpoints
$page-width: 1220px;

$detail-l-from: 960px;
$detail-m-from: 880px;
$detail-s-from: 700px;
$detail-xs-from: 580px;

// ViCare - 'variables' partial in here
