// ========================================================================
// ITCSS - tools
// ========================================================================
/*
  Site-wide mixins and functions.
  https://github.com/inuitcss/inuitcss
  *** combined for easier presentation ***
*/

// mixins... from ViCare
@mixin max-width($width) {
	@media screen and (max-width: #{$width}) {
		@content;
	}
}

@mixin between-width($minWidth, $maxWidth) {
	@media screen and (min-width: #{$minWidth}) and (max-width: #{$maxWidth}) {
		@content;
	}
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow: $top $left $blur $color #{$inset};
	   -moz-box-shadow: $top $left $blur $color #{$inset};
	    -ms-box-shadow: $top $left $blur $color #{$inset};
	        box-shadow: $top $left $blur $color #{$inset};
}

@mixin opacity($opacity) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
		$IEValue: $opacity*100;
		opacity: $opacity;
		filter: alpha(opacity=$IEValue);
}

// Sass functions
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

// ViCare - 'mixins' partial in here
