// ========================================================================
// ITCSS - generic (3)
// ========================================================================
/*
  Low-specificity, far-reaching rulesets (e.g. resets, normalize.css).
  https://github.com/inuitcss/inuitcss
  *** combined for easier presentation ***
*/

// reset example
// CSS resets aim to remove all built-in browser styling
// http://stackoverflow.com/questions/6887336/what-is-the-difference-between-normalize-css-and-reset-css
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}

li > {

  ol,
  ul {
    margin-bottom: 0;
  }

}

// normalise
// Normalize CSS aims to make built-in browser styling consistent across browsers
html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

// specific project's global styling
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: $inuit-global-spacing-unit;
}

dd, ol, ul {
  margin-left: $inuit-global-spacing-unit;
}
