// ========================================================================
// ITCSS - base / elements (4)
// ========================================================================
/*
  Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
  https://github.com/inuitcss/inuitcss
  *** combined for easier presentation ***
*/

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;

h1 {  @include inuit-font-size($inuit-font-size-h1); }
h2 { @include inuit-font-size($inuit-font-size-h2); }

img {
  max-width: 100%; /* [1] */
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
}

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
}

table {
  width: 100%; /* [1] */
}
