// ========================================================================
// ITCSS - objects (5)
// ========================================================================
/*
  Objects, abstractions, and design patterns (e.g. .o-layout {}).
  https://github.com/inuitcss/inuitcss
  *** combined for easier presentation ***

  notes:
  1. "o-" prefix for "object", makes it really easy to pinpoint classes to stylesheet location
  2. contains many useful, common, robust object markup patterns
  3. objects has base styling and variant modifiers
  4. http://jsfiddle.net/user/inuitcss/fiddles/1/
  5. I’m a fan of object-oriented CSS, though I suppose you could remove this layer if you don’t use it. This layer is mostly layout-driven, and doesn’t include anything cosmetic. I included structural objects such as `.inner` and `.container` here, as well as some oft-repeated constructs such as `.post`s and `.hero`.
*/

// * Wrapper..............Page constraint object.
// * Layout...............Generic layout module.
// * Media................Image- and text-like content side by side. The poster-child of OOCSS.
// * Flag.................Table-layout-based advancement on the Media object.
// * List-bare............Lists with no bullets or indents.
// * List-inline..........A list whose items all site in a line.
// * Box..................Simple boxing abstraction.
// * Block................Image-on-top-of-text object.
// * Ratio................A container for maintaining aspect ratio of content.
// * Crop.................Provide a cropping context for media (images, etc.).
// * Table................Classes for manipulating `table`s.
// * Pack.................Pack items into available horizontal space.

// Wrapper - page constraint object
$inuit-wrapper-width: 1200px !default;

.o-wrapper {
  @include inuit-clearfix();
  padding-right: $inuit-global-spacing-unit;
  padding-left:  $inuit-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;
}
// Size variants.
.o-wrapper--tiny {
  padding-right: $inuit-global-spacing-unit-tiny;
  padding-left:  $inuit-global-spacing-unit-tiny;
}

.o-wrapper--small {
  padding-right: $inuit-global-spacing-unit-small;
  padding-left:  $inuit-global-spacing-unit-small;
}

.o-wrapper--large {
  padding-right: $inuit-global-spacing-unit-large;
  padding-left:  $inuit-global-spacing-unit-large;
}

.o-wrapper--huge {
  padding-right: $inuit-global-spacing-unit-huge;
  padding-left:  $inuit-global-spacing-unit-huge;
}

// Layout object - Fixed sidebar, fluid content
// http://jsfiddle.net/pBxBP/87/

// Responsive grid
// http://jsfiddle.net/WS4Ge/600/

// Media object
// http://jsfiddle.net/cf4Qs/71/
.o-media {
  @include inuit-clearfix();
  display: block;
}


  .o-media__img {
    float: left;
    margin-right: $inuit-global-spacing-unit;

    > img {
      display: block;
    }

  }


  .o-media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }

  .o-media--tiny {

    > .o-media__img {
      margin-right: $inuit-global-spacing-unit-tiny;
    }

    &.o-media--reverse {

      > .o-media__img {
        margin-right: 0;
        margin-left:  $inuit-global-spacing-unit-tiny;
      }

    }

  }


  .o-media--small {

    > .o-media__img {
      margin-right: $inuit-global-spacing-unit-small;
    }

    &.o-media--reverse {

      > .o-media__img {
        margin-right: 0;
        margin-left:  $inuit-global-spacing-unit-small;
      }

    }

  }


  .o-media--large {

    > .o-media__img {
      margin-right: $inuit-global-spacing-unit-large;
    }

    &.o-media--reverse {

      > .o-media__img {
        margin-right: 0;
        margin-left:  $inuit-global-spacing-unit-large;
      }

    }

  }


  .o-media--huge {

    > .o-media__img {
      margin-right: $inuit-global-spacing-unit-huge;
    }

    &.o-media--reverse {

      > .o-media__img {
        margin-right: 0;
        margin-left:  $inuit-global-spacing-unit-huge;
      }

    }

  }





  /* Reversed media objects
     ========================================================================== */

  .o-media--reverse {

    > .o-media__img {
      float: right;
      margin-right: 0;
      margin-left: $inuit-global-spacing-unit;
    }

  }





  /* Gutterless media objects
     ========================================================================== */

  .o-media--flush {

    > .o-media__img {
      margin-right: 0;
      margin-left:  0;
    }

  }
