// ========================================================================
// ITCSS - trumps / utilities (7)
// ========================================================================
/*
  High-specificity, very explicit selectors. Overrides and helper classes (e.g. .u-hidden {}).
  https://github.com/inuitcss/inuitcss
  *** combined for easier presentation ***

  notes:
  1. "u-" prefix for "utilities", makes it really easy to pinpoint classes to stylesheet location
  2. see utilities list below
  3. widths + spacing (padding/margins) generated here for fine control over layout - inc. responsive
  4. These are styles that override other styles, and should be used very sparingly. Color overrides, forced floats, and text alignment classes can go here. This is the only place in your CSS that the `!important` tag is acceptable.

  * UTILITIES
  * Clearfix.............Bind our clearfix onto a utility class.
  * Widths...............Simple width helper classes.
  * Headings.............Reassigning our heading styles to helper classes.
  * Spacing..............Nudge bits of the DOM around with these spacing
  *                      classes.
  * Print................Reset-like styles taken from the HTML5 Boilerplate.
  * Hide.................Helper classes to hide content
*/

// semantically need an H2, but we want it to be sized like an H1:
// HTML <h2 class="u-h1"></h2>
.u-h1 { @include inuit-font-size($inuit-font-size-h1, $important: true); }

// Hide only visually, but have it available for screen readers:
.u-hidden-visually { @include inuit-hidden-visually(); }
// Hide visually and from screen readers.
.u-hidden { display: none !important; }

// print overrides here
@media print { /* ... */ }





// spacing to be used with layout elements - GENERATED
// overrides default spacing
// sometimes you just need more or less margin than the defaults to make design look good
/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding {}
 *   .u-padding-right-none {}
 *   .u-padding-horizontal {}
 *   .u-padding-vertical-small {}
 */

/* stylelint-disable string-quotes */
$inuit-spacing-directions: (
  null: null,
  '-top': '-top',
  '-right': '-right',
  '-bottom': '-bottom',
  '-left': '-left',
  '-horizontal': '-left' '-right',
  '-vertical': '-top' '-bottom',
) !default;

$inuit-spacing-properties: (
  'padding': 'padding',
  'margin': 'margin',
) !default;

$inuit-spacing-sizes: (
  null: $inuit-global-spacing-unit,
  '-tiny': $inuit-global-spacing-unit-tiny,
  '-small': $inuit-global-spacing-unit-small,
  '-large': $inuit-global-spacing-unit-large,
  '-huge': $inuit-global-spacing-unit-huge,
  '-none': 0
) !default;

@each $property-namespace, $property in $inuit-spacing-properties {

  @each $direction-namespace, $direction-rules in $inuit-spacing-directions {

    @each $size-namespace, $size in $inuit-spacing-sizes {

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }

      }

    }

  }

}


// widths to be used with layout elements - GENERATED
// his is useful for making very granular changes to the rendered order of items in a layout.
// because sometimes responsive and/or design requirements
$inuit-fractions: 1 2 3 4 5 !default;
/**
 * inuitcss generates a series of utility classes that give a fluid width to
 * whichever element they’re applied, e.g.:
 *
 *   <img src="" alt="" class="u-1/2" />
 *
 * These classes are most commonly used in conjunction with our layout system,
 * e.g.:
 *
 *   <div class="o-layout__item  u-1/2">
 *
 * By default, inuitcss will also generate responsive variants of each of these
 * classes by using your Sass MQ configuration, e.g.:
 *
 *   <div class="o-layout__item  u-1/1  u-1/2@tablet  u-1/3@desktop">
 *
 * Optionally, inuitcss can generate offset classes which can push and pull
 * elements left and right by a specified amount, e.g.:
 *
 *   <div class="o-layout__item  u-2/3  u-pull-1/3">
 *
 * This is useful for making very granular changes to the rendered order of
 * items in a layout.
 *
 * N.B. This option is turned off by default.
 */
