// ========================================================================
// CSS limitations
// ========================================================================

//
// inheritance
//
body { font-size: 10pt }
h1 { font-size: 130% } // font-size of h1 is 13pt





//
// Cascade / Highly dependent on source order
// The cascade: All applicable rules for an element are gathered, then ordered according to their origin - ie: user agent, user, author
// http://stackoverflow.com/questions/11230237/css-cascading-with-examples
// https://www.w3.org/TR/CSS2/cascade.html#specificity
//
h1 { font-size: 20px; }

/* ... */

h1 { font-size: 24px; }

/* ... */

h1 { font-size: 28px; }





//
// Specificity
// (a component of cascade)
//
.favorite { color: white; }
ul#summer-drinks li.favorite { color: yellow; }
body div#pagewrap ul#summer-drinks li.favorite { color: orange; }
body .v3.v3.v3.v3 div#pagewrap ul#summer-drinks li.favorite { color: red; }
// (last utilising class hack)
